@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
*{
    background-color:;
}

body {margin:0px;
    height:100vh;
width:100vw;
background-color:black;

}

.tlo{   
height:100vh;
width:100vw;
position:absolute;
background-color:black;
/*background:url("https://picsum.photos/400/600?random=1");*/
background-repeat: no-repeat;
background-size: auto;
color:black;
padding-top:;
font-size:1.5rem;
text-align: center;
text-shadow: 10px 10px 10px black;
text-shadow: 20px 2px 20px white;
padding:
font-family: 'Roboto', sans-serif;
}
.text_box{position:relative ;
    top:55vh;
    height:auto;
width: ;
background-color:;
/*background:url("https://picsum.photos/400/600?random=1");*/
background-repeat: no-repeat;
background-size: auto;
color:white;

font-size:1.5rem;
text-align: center;

padding:0px;
font-family:"roboto", courier,arial,helvetica;"
background:

rgba( 255, 255, 255, 0.25 );
box-shadow:

0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter:

blur( 4px );
-webkit-backdrop-filter:

blur( 4px );
border-radius:

10px;
border:

1px solid rgba( 255, 255, 255, 0.18 );
