@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,400;1,500;1,700&display=swap');
body {
  margin: 0;
  box-sizing: border-box;
}
.background {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: auto, auto;
  background-position: auto;
  background-repeat: no-repeat;
}

.text_box {
  position: absolute;
  bottom: 2vh;
  right: 10%;
  left: 10%;
  height: auto;
  max-height: 100%;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  
  text-shadow: 3px 3px 3px #000000;
  color: #ffffff;
  font-family: "roboto", courier, arial, helvetica;
  background: #6b6b6b28;
  box-shadow: 2px 3px 7px 1px #000000d0;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 2px 3px 7px 1px #000000d0;
}
  

@media only screen and (max-width: 600px) {
  .text_box {
    font-size: 24px;
  }
}
