@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
	margin:0;
	box-sizing:border-box;
	}
.background{  
height:100%;
width:100%;
position:absolute;
display: flex;
justify-content: center;
background-size: auto, auto;
background-position:auto;
background-repeat: no-repeat;
}

.text_box{
position:absolute;
bottom: 2vh;
right:10%;
left:10%;
height:auto;
max-height: 100%;
font-size: 32px;
align-items: center;
text-align: center;
text-shadow: 2px 2px 2px black;
color:#ffffff;
font-family: 'roboto', courier,arial,helvetica;
background:#8080800d;
box-shadow:0 8px 32px 0 #1f268780;
backdrop-filter:blur(3px);
-webkit-backdrop-filter:blur(3px);
border-radius:10px;
border:1px solid #ffffff;
-webkit-box-shadow: 2px 3px 7px 1px #000000d0; 
}

@media only screen and (max-width: 600px) {
  .text_box {
    font-size: 24px;
  }
}